@layer utilities {

    /* Ẩn thanh cuộn cho Chrome, Safari và Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Ẩn thanh cuộn cho IE, Edge và Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE và Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}